
<div class="container">
    <div class="row">
       
        <div class="col-md-10">
            <button class="btn btn-primary" [routerLink]="['/add']">add data</button>
            <table class="table table-bordered">
                <thead>

                    <tr>
                        <th>sr no </th>
                        <th>state</th>
                        <th>name</th>
                        <th>city</th>
                        <th>details</th>
                        <th>image</th>
                        <th>edit </th>
                        <th>delete</th>

                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of allData; let i= index">
                        <td>{{i+1}}</td>
                        <td>{{s.state}}</td>
                        <td>{{s.name}}</td>
                        <td>{{s.city}}</td>
                        <td>{{s.details}}</td>
                        <td>
                        <img src="{{s.image}}" alt="img" title="img" class="img-fluid"></td>
                        <td>
                            <i class="fas fa-edit text-success" [routerLink]="['/add',s.id,'edit']"></i>
                        </td>
                        <td><i class="fas fa-trash text-danger"></i></td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{allData | json}}